

  .flex-container {
      display: flex;
      justify-content: center;
      
    }
    
    .flex-container > div {
      
      width: 500px;
      margin: 10px;
      text-align: center;
      line-height: 15px;
      font-size: 15px;
    }
  
    
    .login-button{
        text-align: center;
        margin-left: 80px;
        width: 400px;
  
        
    }
    #heading{
      text-align: center;
      color: green;
    }
    .buttoncss{
        width: 250px;
        margin-top: 20px;
        background-color: green;
      
    }
    img{
      height:100px;
      width:auto;
      border-radius: 50%;
      margin-top: 20px;
      margin-left: 220px;
      
      border: 1px solid gray;
    }
    .pform{
      border: 1px solid gray;
      margin-top: 20px;
      box-shadow: 0 0 10px gray;
      
      
    }
    
